<div
  style="
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
      to bottom left,
      rgb(255, 119, 85),
      rgb(252, 38, 124)
    );
    justify-content: center;
    align-items: center;
    color: white;
  "
>
  <div
    class="row"
    style="
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
    "
  >
    <div class="col-xs-12">
      <h3>App Component</h3>
      <hr />
      <div class="app-server"></div>
    </div>
  </div>
</div>
